*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/*导航栏样式设置*/
li,a,button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-image: url("images/title.webp");
}

/* 搜索框容器样式 */
.search-container {
    flex-grow: 2;  /* 让搜索框占据剩余空间 */
    text-align: center;  /* 使搜索框居中 */
    display: flex;  /* 使用 flex 布局 */
    align-items: center;  /* 垂直居中 */
}

.search-container input {
    width: 100%;  /* 控制搜索框宽度 */
    height: 55px;
    padding: 10px;  /* 增加内边距 */
    font-size: 16px;  /* 字体大小 */
    border: 1px solid #ccc;  /* 边框 */
    border-radius: 20px;  /* 圆角 */
    background-color: rgba(50, 50, 50, 0.8);
    margin-right: 10px;  /* 给搜索框和按钮之间留些空间 */
}

.search-container input:focus{
    border: 1px solid #ccc;  /* 边框 */
    background-color: rgba(50, 50, 50, 0.9);
    color: #fff;
}

.search-container button{
    width: 40px;  /* 增加按钮宽度 */
    height: 60px;  /* 增加按钮高度 */
    background-color: rgba(0, 136, 169, 1);  /* 设置背景色 */
    border: none;  /* 去掉默认边框 */
    border-radius: 50%;  /* 使按钮圆形 */
    cursor: pointer;  /* 鼠标悬停时显示指针 */
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-container button:hover{
    background-color: rgba(0, 136, 169,0.7);
}

.logo{
    cursor: pointer;
    order: 3;
    margin-right: 100px;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    font-size: 18px;
    font-weight: bold;
}

.nav_links li a:hover{
    color: #0088a9;
}

button{
    padding: 10px 30px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: bold;
}

button:hover{
    background-color: rgba(0, 136, 169,0.7);
}

/*中间*/
.pop-title {
    padding: 20px 0 0;
}

.pop-title .pop-tip {
    font-size: 24px;
    color: #61666d;
    margin-bottom: 30px;
}

.pop-tip {
    width: 65%;        /* 容器宽度为 50% */
    margin: 0 auto;    /* 自动居中 */
}

.main-body {
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 1070px;
    margin: 20px auto;
}

.info-top{
    display: flex; /* 使用 flexbox 布局 */
    align-items: center; /* 垂直居中对齐 */
    width: 100%; /* 使用父容器宽度 */
}

.writter-pic {
    width: 300px;
    border-radius: 50%;
    margin-left: 50px;
}

.wri-info {
    margin-left: 200px; /* 确保与图片有适当间距 */
    flex: 1; /* 自动占据剩余空间 */
    line-height: 2;
}

.wri-info h2 {
    margin: 0;
    font-size: 36px;
    color: #333;
}

.wri-info p {
    margin: 5px 0;
    font-size: 18px;
    color: #555;
}

.award {
    width: 1070px;
    margin: 0 auto;    /* 自动居中 */
}

.card-list{
    flex-wrap: wrap;
    gap: 10px;
}

.card-list .video-card {
    width: 1000px;
    margin-bottom: 20px;
    margin-left: 200px;
}

.video-card {
    display: flex;
    margin-bottom: 40px;
    height: auto;
    width: 530px;
    border-radius: 2px;
    position: relative;
}

.video-card-pic {
    width: 200px;            /* 固定宽度 */
    flex-shrink: 0;
    margin-right: 10px;
    border-radius: 2px;
    position: relative;
    overflow: hidden;        /* 避免图片超出容器范围 */
}

.video-card-pic img {
    width: 100%;             /* 使图片宽度充满容器 */
    height: 100%;            /* 使图片高度充满容器 */
    object-fit: cover;       /* 保持图片比例，并裁剪多余部分填充容器 */
}

.video-card-info{
    cursor: pointer;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 0 70px 0 0;
    margin-top: 100px;
    margin-left: 50px;
    color: #555;
}

.tips {
    display: block;
    width: 296px;
    height: 22px;
    font-size: 14px;
    line-height: 22px;
    color: #717171;
    margin-bottom: 12px;
}

footer{
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* 确保分开 */
    padding: 0 20%;
    background-color: #f6f9fa;
}

.block-left {
    display: flex;
    flex-direction: column; /* 保持内容垂直布局 */
    max-width: 50%;
}

.foot-ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 创建 2 列 */
    gap: 20px; /* 列项之间的间距 */
    padding: 0;
    margin: 0;
    list-style-type: none;
}

footer .foot-ul a {
    color: black;
    font-size: 20px;
}

.block-middle p {
    margin: 0;
    padding: 0;
    color: #717171;
    font-size: 12px;
    display: block;
    height: 24px;
    line-height: 24px;
}

.block-right .logo {
    height: 150px;  /* 设置图片高度 */
}